@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #064789;
    color: #EBF2FA;
    padding: 5px;
    margin: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav h1{
    font-size: 5vmin;
}

.temp{
    font-size: 10vmin;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    justify-items: flex-start;
}

.avg{
    font-size: 3.2vmin;
}

.city{
    font-size: 4vmin;  
    font-weight: 800;  
}